### 1. 列表

**所有方法：**  
*这些方法对列表本身进行修改，而返回Ｎｏｎｅ，事实上，这是python对所有可变结构数据的处理原则*

(1) list.**append**(x)

(2) list.**extend**(iterable)

(3) list.**insert(i, x)**

(4) list.**remove**(x)  
    
    删除掉列表中第一个为ｘ的数

(5) list.**pop**([i])

    如果ｉ没有指定，那么返回最后一个数

(6) list.**clear**()

(7) list.**index**(x, start, end)

    返回列表中x的位置，后面的索引表示在列表中的搜索范围。返回的位置都是相对整个列表的，与搜索范围无关

In [21]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
print(fruits.index('banana'))
print(fruits.index('banana', 4))
print(fruits.index('banana', 4, 7))

3
6
6

(8) list.**count**(x)

(9) list.**sort**(key=None, reverse=False)  

   参数可用来自定义排序，具体可见内嵌函数[sorted](https://docs.python.org/3.5/library/functions.html#sorted)

(10) list.**reverse**()

(11) list.**copy**()  
    
    浅拷贝

#### 1.1 将列表作为栈使用

*栈　“后进先出”*

In [25]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
print(stack)

print(stack.pop())

print(stack)

stack.pop()

stack.pop()

print(stack)

[3, 4, 5, 6, 7]
7
[3, 4, 5, 6]
[3, 4]

#### 1.2 将列表作为队列使用

*队列　“先进先出”*

In [26]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
print(queue.popleft())                 # The first to arrive now leaves

queue.popleft()                 # The second to arrive now leaves

queue                           # Remaining queue in order of arrival

Eric

deque(['Michael', 'Terry', 'Graham'])

#### 1.3 列表的理解

In [27]:
squares = list(map(lambda x: x**2, range(10)))

In [28]:
squares = [x**2 for x in range(10)]

In [29]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [32]:
vec = [-4, -2, 0, 2, 4]
# create a new list with the values doubled
[x*2 for x in vec]

# filter the list to exclude negative numbers
[x for x in vec if x >= 0]

# apply a function to all the elements
[abs(x) for x in vec]

# call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]

# create a list of 2-tuples like (number, square)
[(x, x**2) for x in range(6)]

# # the tuple must be parenthesized, otherwise an error is raised
# [x, x**2 for x in range(6)]




# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

#### 1.4 嵌套列表的理解

In [36]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [37]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

实际使用中应该更多的使用内嵌函数而不是复杂的流语句

In [38]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

### 2. del语句

In [39]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [40]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [41]:
del a[:]
a

[]

In [42]:
del a

### 3. 元组和序列

    python中有两个序列的例子：列表和元组

In [48]:
t = 12345, 54321, 'hello!'
t[0]

t

# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [46]:
# Tuples are immutable:
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [47]:
# but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [49]:
v[0].append(4)
v

([1, 2, 3, 4], [3, 2, 1])

In [50]:
v[0] = [1,2,3]

TypeError: 'tuple' object does not support item assignment

In [51]:
empty = ()
singleton = 'hello',    # <-- note trailing comma
len(empty)

len(singleton)

singleton

('hello',)

### 4. 集合

    “无序”
    使用花括号或者set()定义一个集合
    初始化一个空集合要用set()

In [52]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

'orange' in basket                 # fast membership testing

'crabgrass' in basket


# Demonstrate set operations on unique letters from two words

a = set('abracadabra')
b = set('alacazam')
a                                  # unique letters in a

a - b                              # letters in a but not in b

a | b                              # letters in either a or b

a & b                              # letters in both a and b

a ^ b                              # letters in a or b but not both

{'banana', 'orange', 'apple', 'pear'}

{'b', 'd', 'l', 'm', 'r', 'z'}

### 5. 字典

In [53]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

tel['jack']

del tel['sape']
tel['irv'] = 4127
tel

list(tel.keys())

sorted(tel.keys())

'guido' in tel

'jack' not in tel

False

*dict()* 构造函数，直接从键值对的序列中构造

### 6. 循环技巧

**items()**

    返回字典的健与值

In [57]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

robin the brave
gallahad the pure

**enumerate()**

    返回序列的序号与值

In [58]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

**zip()**

    同时返回两个或者多个序列的值

In [60]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

**reversed()**

In [62]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

**sorted()**

In [63]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

### 7. 比较

    比较的双方，从第一个元素开始一一对比，如果出现大小，则以这个大小作为这两个序列的大小。直至有一方结束了。

In [64]:
(1, 2, 3)              < (1, 2, 4)
[1, 2, 3]              < [1, 2, 4]
'ABC' < 'C' < 'Pascal' < 'Python'
(1, 2, 3, 4)           < (1, 2, 4)
(1, 2)                 < (1, 2, -1)
(1, 2, 3)             == (1.0, 2.0, 3.0)
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True